.transition{
    display: flex;
    flex-direction: row;
    position: relative;
}

.vector-one {
    height: 80px;
    background-color: #185ADB;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;

}

.vector-one h2 {
    color: #EFEFEF;
    font-size: 53.3333px;
}

.vector-two {
    height: 80px;
    width: 400px;
    background-color: hsl(220, 80%, 38%);
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: absolute;
    left: 60px;
    z-index: 800;
}

.vector-three {
    height: 80px;
    width: 400px;
    background-color: hsl(220, 80%, 28%);
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: absolute;
    left: 100px;
    z-index: 700;
}

.transition-r{
    display: flex;
    flex-direction: row;
    position: relative;
}

.vector-one-r {
    height: 80px;
    background-color: #185ADB;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;

}

.vector-one-r h2 {
    color: #EFEFEF;
    font-size: 53.3333px;
}

.vector-two-r {
    height: 80px;
    width: 400px;
    background-color: hsl(220, 80%, 38%);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    left: -60px;
    z-index: 800;
}

.vector-three-r {
    height: 80px;
    width: 400px;
    background-color: hsl(220, 80%, 28%);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    left: -100px;
    z-index: 700;
}


.transition-semaine-odd{
    position: absolute;
    left: 0px;
    bottom: -5%;
}
.vector-one-semaine-odd{
    width: 400px;
    padding-right: 20px;
}
.vector-two-semaine-odd{
    width: 400px;
    padding-right: 20px;
    left: 60px;
}
.vector-three-semaine-odd{
    width: 400px;
    padding-right: 20px;
}

.transition-semaine-even{
    position: absolute;
    right: 0px;
    bottom: -5%;
}
.vector-one-semaine-even{
    width: 400px;
    padding-left: 20px;

}

@media screen and (max-width: 700px){
    
    .transition{
        width: 100vw;
        
    }
    .transition h2 {
        font-size: 200%;
    }
    .transition-r{
        width: 100vw;
    }
    .transition-r h2 {
        font-size: 200%;
    }
    .vector-one{
        width: 100vw;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        padding: 0px;
        height: 20vw;
        
    }
    .vector-two{
        display: none;
    }
    .vector-three{
        display: none;
    }
    .vector-one-r{
        width: 100vw;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        padding: 0px;
        height: 20vw;
    }
    .vector-two-r{
        display: none;
    }
    .vector-three-r{
        display: none;
    }
}