.choix{
    background-color: #0A1931;
    min-height: 90vh;
    position: relative;
}

.choix a {
    color: hsl(220, 80%, 48%);
    text-decoration: none;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
}
.choix a i{

    font-size: 400%;
    transform-origin: center;
    transition: 1s;
}
.choix a p{
    font-size: 200%;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
}

.icone-jv{
    left: 50%;
    top: 20%;
}
.icone-3d{
    left: 20%;
    top: 50%;
}
.icone-cdi{
    left: 80%;
    top: 50%;
}
.icone-crea{
    left: 33%;
    top: 80%;
}
.icone-cdeb{
    left: 66%;
    top: 80%;
}

.choix a:hover i{
    color: #FFC947;
    font-size: 500%;
}
.choix a:hover p{
    color: #FFC947;
    opacity: 1;   
}