.banniere-page-bio{
    display: flex;
    padding: 40px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: #0A1931;
    color: #efefef;
}

.banniere-page-bio h2{
    font-size: 400%;
    padding-bottom: 20px;
}
/* .banniere-page-bio p{
    
} */

.section-cv{
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.section-cv h2{
    color: hsl(220, 80%, 48%);
    padding-bottom: 30px;
    font-size: 250%;
}
.section-cv .texte-iden{
    font-size: 150%;
    font-weight: 700;
}
.section-cv .intro-section{
    padding-bottom: 20px;
}
.section-cv h3{
    color: hsl(220, 80%, 48%);
    padding-bottom: 20px;
    font-size: 150%;
}
.section-cv h4{
    color: hsl(220, 80%, 48%);
    padding-bottom: 20px;
    font-size: 125%;
}
.section-cv .ul1{
    list-style: disc;
    text-align: start;
}.section-cv .ul1 li{
    padding-bottom: 20px;
}
.section-cv .ul2{
    padding-bottom: 20px;
}
.section-cv b{
    color: hsl(220, 80%, 48%);
}

@media screen and (max-width: 700px){
    .banniere-page-bio h2{
        font-size: 250%;
    }
}

@media screen and (max-width: 550px){
    /* .banniere-page-bio h2{
        font-size: 150%;
    } */
}