

.prod-semaine2jv{
    display: flex;
    flex-wrap: wrap;
}

.img-semaine2{
    height: 200px;
    width: 400px;
}

.semaine1jv .bouton-normal{
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 21.3333px;
}

@media screen and (max-width: 700px){
    /* .prod-semaine4jv{
        width: 80%;
    } */
}