.main-aver{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avertissement{
    color: hsl(220, 80%, 48%);
    font-size: 300%;
    animation: couleur 2s linear 0s infinite alternate;
}

@keyframes couleur{
    0% {
        color: hsl(220, 80%, 48%);
    }
    100% {
        color: hsl(1, 100%, 50%);
    }

}