.banniere-page-axe{
    min-height: 40vh;
    background-color: #0A1931;
    color: #EFEFEF;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.semaine{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 80px 80px;

}
.semaine .explication-semaine h2{
    padding-bottom: 20px;
}

.clair .explication-semaine h2{
    color: hsl(220, 80%, 48%);
}
.fonce{
    background-color: #0A1931;
    color: #EFEFEF;
}


.explication-semaine{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    
}

.production-semaine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.production-semaine-video{
    height: 40vw;
    width: 70vw;
}

@media screen and (max-width: 700px){
    .banniere-page-axe {
        font-size: 250%;
    }
}

@media screen and (max-width: 550px){
    .banniere-page-axe {
        font-size: 150%;
    }
}